/resultados/*/
executar-testes-final.sh
RESULTADOS.md
RESULTADOS-HEADER.md
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/rinha-de-backend-2024-q1/v17/.wsuo
.vs/rinha-de-backend-2024-q1/FileContentIndex/1aa8283e-4408-46fe-962f-5098d9ace955.vsidx
.vs/rinha-de-backend-2024-q1/FileContentIndex/27f4b419-ff20-434f-9fca-f0be45cb7ce4.vsidx
.vs/rinha-de-backend-2024-q1/FileContentIndex/b916b89e-20ba-4213-b3db-fb6dada4a513.vsidx
.vs/rinha-de-backend-2024-q1/FileContentIndex/f6b4d5d3-290e-464e-8c48-c8e56a8af555.vsidx
participantes/arnaldogaldino/src/.vs/ProjectEvaluation/rinhabackend.metadata.v7.bin
participantes/arnaldogaldino/src/.vs/ProjectEvaluation/rinhabackend.projects.v7.bin
participantes/arnaldogaldino/src/.vs/RinhaBackend/config/applicationhost.config
participantes/arnaldogaldino/src/.vs/RinhaBackend/DesignTimeBuild/.dtbcache.v2
participantes/arnaldogaldino/src/.vs/RinhaBackend/FileContentIndex/2acfa537-7331-40ba-a1d1-58fa5b908b9d.vsidx
participantes/arnaldogaldino/src/.vs/RinhaBackend/FileContentIndex/2e61e444-d976-4ece-93b4-2c08259746f3.vsidx
participantes/arnaldogaldino/src/.vs/RinhaBackend/FileContentIndex/9775edda-bd3a-4fc2-b9da-d87ca33cfc1c.vsidx
participantes/arnaldogaldino/src/.vs/RinhaBackend/FileContentIndex/f5f19662-41c6-4a05-a471-6a1037894526.vsidx
participantes/arnaldogaldino/src/.vs/RinhaBackend/v17/.futdcache.v2
participantes/arnaldogaldino/src/.vs/RinhaBackend/v17/.suo
participantes/arnaldogaldino/src/RinhaBackend/bin/Debug/net8.0/appsettings.Development.json
participantes/arnaldogaldino/src/RinhaBackend/bin/Debug/net8.0/appsettings.json
participantes/arnaldogaldino/src/RinhaBackend/bin/Debug/net8.0/FluentValidation.AspNetCore.dll
participantes/arnaldogaldino/src/RinhaBackend/bin/Debug/net8.0/FluentValidation.DependencyInjectionExtensions.dll
participantes/arnaldogaldino/src/RinhaBackend/bin/Debug/net8.0/FluentValidation.dll
participantes/arnaldogaldino/src/RinhaBackend/bin/Debug/net8.0/Npgsql.dll
participantes/arnaldogaldino/src/RinhaBackend/bin/Debug/net8.0/RinhaBackend.deps.json
participantes/arnaldogaldino/src/RinhaBackend/bin/Debug/net8.0/RinhaBackend.dll
participantes/arnaldogaldino/src/RinhaBackend/bin/Debug/net8.0/RinhaBackend.exe
participantes/arnaldogaldino/src/RinhaBackend/bin/Debug/net8.0/RinhaBackend.pdb
participantes/arnaldogaldino/src/RinhaBackend/bin/Debug/net8.0/RinhaBackend.runtimeconfig.json
participantes/arnaldogaldino/src/RinhaBackend/obj/project.assets.json
participantes/arnaldogaldino/src/RinhaBackend/obj/project.nuget.cache
participantes/arnaldogaldino/src/RinhaBackend/obj/RinhaBackend.csproj.nuget.dgspec.json
participantes/arnaldogaldino/src/RinhaBackend/obj/RinhaBackend.csproj.nuget.g.props
participantes/arnaldogaldino/src/RinhaBackend/obj/RinhaBackend.csproj.nuget.g.targets
participantes/arnaldogaldino/src/RinhaBackend/obj/Container/ContainerCreationResult.cache
participantes/arnaldogaldino/src/RinhaBackend/obj/Container/ContainerDevelopmentMode.cache
participantes/arnaldogaldino/src/RinhaBackend/obj/Container/ContainerOperatingSystemFlavor.cache
participantes/arnaldogaldino/src/RinhaBackend/obj/Container/OperatingSystemName.cache
participantes/arnaldogaldino/src/RinhaBackend/obj/Container/TargetFramework.cache
participantes/arnaldogaldino/src/RinhaBackend/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
participantes/arnaldogaldino/src/RinhaBackend/obj/Debug/net8.0/apphost.exe
participantes/arnaldogaldino/src/RinhaBackend/obj/Debug/net8.0/RinhaBackend.AssemblyInfo.cs
participantes/arnaldogaldino/src/RinhaBackend/obj/Debug/net8.0/RinhaBackend.AssemblyInfoInputs.cache
participantes/arnaldogaldino/src/RinhaBackend/obj/Debug/net8.0/RinhaBackend.assets.cache
participantes/arnaldogaldino/src/RinhaBackend/obj/Debug/net8.0/RinhaBackend.csproj.AssemblyReference.cache
participantes/arnaldogaldino/src/RinhaBackend/obj/Debug/net8.0/RinhaBackend.csproj.BuildWithSkipAnalyzers
participantes/arnaldogaldino/src/RinhaBackend/obj/Debug/net8.0/RinhaBackend.csproj.CopyComplete
participantes/arnaldogaldino/src/RinhaBackend/obj/Debug/net8.0/RinhaBackend.csproj.CoreCompileInputs.cache
participantes/arnaldogaldino/src/RinhaBackend/obj/Debug/net8.0/RinhaBackend.csproj.FileListAbsolute.txt
participantes/arnaldogaldino/src/RinhaBackend/obj/Debug/net8.0/RinhaBackend.dll
participantes/arnaldogaldino/src/RinhaBackend/obj/Debug/net8.0/RinhaBackend.GeneratedMSBuildEditorConfig.editorconfig
participantes/arnaldogaldino/src/RinhaBackend/obj/Debug/net8.0/RinhaBackend.genruntimeconfig.cache
participantes/arnaldogaldino/src/RinhaBackend/obj/Debug/net8.0/RinhaBackend.GlobalUsings.g.cs
participantes/arnaldogaldino/src/RinhaBackend/obj/Debug/net8.0/RinhaBackend.MvcApplicationPartsAssemblyInfo.cache
participantes/arnaldogaldino/src/RinhaBackend/obj/Debug/net8.0/RinhaBackend.MvcApplicationPartsAssemblyInfo.cs
/participantes/arnaldogaldino/src/RinhaBackend/obj
/participantes/arnaldogaldino/src/.vs/RinhaBackend/FileContentIndex
